name: ZAP Full Scan

on:
  workflow_dispatch:
  push:

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Run ZAP Full Scan
      uses: zaproxy/action-full-scan@v0.10.0
      with:
        target: "http://testphp.vulnweb.com"
        cmd_options: "-z \"-config scripts.scripts.enable=true -config scripts.autoRun.enable=true\""
